
<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title text-primary">Buat Janji Dokter</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>


<!-- Modal footer -->
<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
</div>

<script type="text/javascript" src="/janji/tambahjanji.js"></script>
