<div class="row">
	<div class="col">
		<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item active">Janji</li>
			</ol>
		</nav>
	</div>
</div>

<div class="container mt-3">
	<h1>Tambah Janji</h1>
	<input type="button" class="btn btn-primary btnJanji"
		value="Tambah Janji">


	<!-- The Modal -->
	<div class="modal" id="modalJanji">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title text-primary">Buat Janji Dokter</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="col-lg-9">
						<img src="/bootstrap5/lilas.jpg" alt="avatar"
							class="rounded-circle img-fluid" style="width: 150px;">
						<h4 id="nama" class="text-right">nama dokter</h4>
						<h6 id="spesialis" class="mx-4">spesialis doctor office</h6>
						<h6 id="pengalaman" class="mx-4">lama pengalaman</h6>
						<select class="form-select form-select-lg mb-3"
							aria-label=".form-select-lg example" id="konsultasi">
							<title>Konsultasi Untuk*</title>
							<option selected>Konsultasi Untuk*</option>
							<option value="1">Anak</option>
							<option value="2">Suami</option>
							<option value="3">Istri</option>
						</select> <select class="form-select form-select-lg mb-3"
							aria-label=".form-select-lg example">
							<option selected>Faskes*</option>
							<option value="1">Santo Yusup</option>
							<option value="2">Bekamin</option>
							<option value="3">Santo Borromeus</option>
						</select>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger"
						data-bs-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

</div>

<!-- <script src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/janji/janji.js"></script>