<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Buat Janji</h4>
</div>
<div class="card">
	<div class="card-body">
		<div class="m-sm-4">
			<h5>Buat Janji Baru</h5>
					<div class="mb-3">
				<img src="/bootstrap5/lilas.jpg" alt="avatar"
				class="rounded-circle img-fluid" style="width: 150px;">
				<h5>dr. Ikuta Lilas, M.Kes.</h5>
				<h5>Dokter Anak</h5>
				<h5>2 tahun pengalaman</h5>
			<form>
					<label class="form-label">Janji*</label> <input
						class="form-control form-control-lg janji" type="radio">
				</div>
				<div class="text-center mt-3">
					<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
					<button type="button" class=" btn btn-primary btnsimpan ">Simpan</button>
					<!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="/janji/tambahjanji.js"></script>
