<div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p5" id="staticBackdropLabel">Reset Password</h1>
			        <button type="button" id="btnx" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      
			      <div class="container px-4">
			      	  <div class="mb-3">
					    <label class="p1 text-muted">Masukkan pasword baru untuk akun anda</label>
					  </div>
			      	  <div class="form-group">
			      	    <label class="p1 text-muted">Password</label>
			      	  </div>
			      	  <div class="col-12">
            			<div class="input-group mb-3">
              				<input type="password" class="form-control p5" id="ipswdrp">
              					<div class="input-group-append">
                					<span class="input-group-text">
                  					<i class="bi bi-eye-fill" id="show_eyerp"></i>
                  					<i class="bi bi-eye-slash-fill" id="hide_eyerp"></i>
                				</span>
              				</div>
              				<div class="input-group">
              					<label id="pswHelprp" class="form-text p1" style="color:Tomato;">*Password harus minimal 8 karakter, mengandung huruf besar, huruf kecil, angka dan karakter</label>
					    		<label id="pswemptyHelprp" class="form-text p1" style="color:Tomato;">  *Password tidak boleh kosong </label>
					    		<label id="pswsameHelprp" class="form-text p1" style="color:Tomato;">  *Password sudah pernah dipakai, gunakan password yang berbeda </label>
            				</div>
            			</div>
          			   </div>
					   
					  <div class="form-group">
			      	    <label class="p1 text-muted">Masukkan ulang password</label>
			      	  </div>
					    <div class="col-12">
            			<div class="input-group mb-3">
              				<input type="password" class="form-control p5" id="irepswdrp">
              					<div class="input-group-append">
                					<span class="input-group-text">
                  					<i class="bi bi-eye-fill" id="show_eyererp"></i>
                  					<i class="bi bi-eye-slash-fill" id="hide_eyererp"></i>
                					</span>
              					</div>
              					<div class="input-group">
              						<label id="pswreHelprp" class="form-text p1" style="color:Tomato;">*Password tidak sama</label>
					    			<label id="pswreemptyHelprp" class="form-text p1" style="color:Tomato;">*Masukkan ulang password</label>		
              					</div>
              					
            				</div>
            			</div>
					   </div>
			      </div>
			      <div class="modal-footer justify-content-center">
			        <button type="button" class="btn btn-primary p1" id="btnacceptpswrp">Simpan Password</button>
			      </div>
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/resetpassword/resetpassword3.js"></script>