<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Edit Hubungan Pasien</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<!-- Modal body -->
<div class="isiModalHubunganPasien">

	<div class="container">

		<div class="container mt-2">

			<form class="form row g-3">
				<div class="col-12">
					<label for="inNama" class="form-label">Nama*</label> <input
						type="text" id="inNama" class="form-control nama"> <sub
						class="pesan text-danger"> *Nama tidak boleh kosong!</sub>
				</div>
				<div class="col-12 mb-3">
					<button class="btn btn-outline-danger" id="btnBatal">Batal</button>
					<button class="btn btn-primary" type="submit" id="btnSimpan">Simpan</button>
				</div>
			</form>

		</div>

	</div>
</div>
<script type="text/javascript" src="/hubunganpasien/edit.js"></script>