<div class="modal-header">
			      	<h1 class="modal-title fs-3 text-primary p1">Hapus</h1>
			        <button type="button" id="btnx" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      
			      <div class="container px-4">
			      	  <div class="mb-3" align="center">
			      	  <a class="p1 text-muted">Anda akan menghapus role </a>
					    <a id="roledeleteshow" class="text-muted p1"></a>
					  </div>
			      </div>
			      
			      </div>
			      <div class="modal-footer justify-content-center">
			        <button type="button" class="btn btn-danger" id="delrolecancel">Batal</button>
			        <button type="button" class="btn btn-success" id="delroleaccept">Hapus</button>
			      </div>
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/role/delete.js"></script>