				  <div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p1">Ubah Hak Akses</h1>
			        <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      <div class="container px-4">
			      	 <table class="table table-borderless align-middle">
			      	 	<tr>
							<td><label for="iidrole" class="p1 text-muted" id="lblid">ID</label></td>
							<td> <input type="text" class="form-control p3 text-muted" id="iidrole" disabled="disabled"> 
							</td>
						</tr>
						<tr>
							<td><label for="inamerole" class="p1 text-muted" id="lblrole">Nama*</label></td>
							<td> <input type="text" class="form-control p1 text-muted" id="inamerole"> 
								<div class="input-group">
					    			<div id="rolenameempty" class="form-text p1" style="color:Tomato;">*Masukkan nama</div>
					  			</div>
							</td>
						</tr>
						<tr>
							<td><label for="icoderole" class="p1 text-muted" id="lblkode">Kode*</label></td>
							<td> <input type="text" class="form-control p1 text-muted" id="icoderole"> 
								<div class="input-group">
					    			<div id="rolekodeempty" class="form-text p1" style="color:Tomato;">*Masukkan kode</div>
					  			</div>
							</td>
						</tr>
						<tr>
						<td></td>
			      			<td>
			      				<button type="button" class="btn btn-success float-end p1 mx-1" id="btnacceptrole">Simpan</button>
			        			<button type="button" class="btn btn-danger float-end p1 mx-1" id="btncancelrole">Batal</button>
			        		</td>
			        	</tr>
					</table>
			      </div>
			      </div>
			      <div class="modal-footer justify-content-right">
			      
			      </div>
<!-- <script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/role/edit.js"></script>
