<link href="/role/role.css" rel="stylesheet" />

<input type="text" id="RoleCari" placeholder="cari">
<input type="button" class="btn btn-success" value="Refresh" id="btnRefreshRole">
<input type="button" class="btn btn-primary" value="Tambah" id="btnAddRole"  style="float:right;">
            
<div id="isiTableRole">
</div>

		<!-- The Modal -->
		<div class="modal" id="modalRole">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		
		 
		
		      <!-- Modal body -->
		      <div class="isiModalRole">
		       
		      </div>		
		    </div>
		  </div>
		</div>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<!-- <script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/role/role.js"></script>
