				  <div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p1 p5">Masuk</h1>
			        <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      <div class="container px-4">
			      	 <div class="mb-3">
					    <label for="iemail" class="p1 text-muted">Email*</label>
					    <input type="email" class="form-control p1" id="iemaillg">
					    
					    <label id="emailHelplg" class="form-text p1" style="color:Tomato;">*Email tidak terdaftar</label>
					    <label id="emailemptyHelplg" class="form-text p1" style="color:Tomato;">*Masukkan email anda</label>
					    <label id="emailwrongHelplg" class="form-text p1" style="color:Tomato;">*Email tidak sesuai</label>
					    <label id="emaillockedHelplg" class="form-text p1" style="color:Tomato;">*Email ini terkunci, silahkan klik opsi lupa password untuk membuka</label>
					  </div>
					  
					  <div class="form-group">
			      	    <label class="p1 text-muted">Password*</label>
			      	  </div>
			      	  <div class="col-12">
            			<div class="input-group mb-3">
              				<input type="password" class="form-control p1" id="ipswdlg">
              					<div class="input-group-append">
                					<span class="input-group-text">
                  					<i class="bi bi-eye-fill" id="show_eye_lg"></i>
                  					<i class="bi bi-eye-slash-fill" id="hide_eye_lg"></i>
                				</span>
              				</div>
              				<div class="input-group">
              					<label id="pswHelplg" class="form-text p1" style="color:Tomato;">*Password salah</label>
					    		<label id="pswemptyHelplg" class="form-text p1" style="color:Tomato;">*Password tidak boleh kosong </label>
              				</div>
              			</div>
          			  </div>
			      </div>
			      </div>
			      <div class="modal-footer">
			      <div class="container px-4">
			      	<div  class="text-center  mb-3">
			      			<button type="button" class="btn btn-primary p1" id="btnlogin">Masuk</button>
			      	</div>
			      	 <div class="text-center">
				        	<a class="link-primary p2 cursor-pointer" id="toresetpassword">Lupa Password?</a>
				        </div>
				          <div class="text-center">
				        	<label class="p1 cursor-pointer p5">atau</label>
				        </div>
				        <div class="text-center">
				        	<label class="p1 cursor-pointer p5">Belum memiliki akun? </label>
				        	<a class="link-primary p2 cursor-pointer" id="toregister">daftar</a></div>
				        </div>
			      </div>
			      </div>
			      
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/login/login.js"></script>
