
<div class="container mt-3">
	<!-- Modal Header -->
	<div class="modal-header">
		<h2 class="modal-title">Edit Profil Anda</h2>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<!-- Modal body -->
	<div class="isiModalGambarProfil">

	<div class="container">

		<div class="mt-4">
		<form action="POST">
			<table class="table table-bordered table-hover">
				<thead class="table-primary">
					<tr>
						<th class="w-50">Upload Foto</th>
					</tr>
				</thead>
				<tbody class="tb1">
					<tr>
						<td>
							<input type="file" id="fileupload" name="fileupload">
						</td>
					</tr>
					<tr>
						<td>
							<button type="button" class="btn btn-primary" id="btnSimpan">Simpan</button>
							<button type="button" class="btn btn-outline-danger" id="btnBatal">Batal</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		</div>

	</div>
</div>

</div>
<script type="text/javascript" src="/profil/profil.js"></script>	
