<body>
	<div class="card ">
		<div class="card-body">
			<div class="m-sm-4">
				<table style="width: 100%">
					<tr>
						<td style="width: 45%"><input type="text"
							class="search form-control" placeholder="Cari..."></td>
						<td style="width: 20%"></td>
						<td style="width: 10%; text-align: center;">Urutkan</td>
						<td style="text-align: right;"><select
							class="sortingby form-select">
						</select></td>
					</tr>
				</table>
				<br>
				<table style="width: 100%">
					<tr>
						<th style="text-align: left;"><input type="button"
							class="multidelete btn btn-danger" value="Hapus" disabled></th>
						<th style="width: 40%"></th>
						<th style="text-align: right;">
							<button class="urut btn btn-outline-primary" value="asc">A-Z</button>
							<input type="number" class="paging btn btn-outline-primary" value="10" style="width: 50px"> 
							<input type="button" class="tambah btn btn-primary" value="Tambah"></th>
					</tr>
				</table>
				<br>
				<table style="width: 100%" class="table table-hover">
					<tbody class="tb1">
					</tbody>
				</table>
				<br>
				<div class="modal" id="ModalAlamat">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">

							<!-- Modal body -->
							<div class="isiModalAlamat"></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/profil/tabalamat.js"></script>