
<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Tambah Alamat</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<div>
					<div class="mb-3">
						<label class="form-label">Label Alamat*</label> <input
							class="form-control form-control-lg inLabel" type="text"
							placeholder="Contoh : Rumah, Kantor" title="Nama tidak valid!!">
						<sub class="pesan0 text-danger"> *Nama label sudah ada!</sub> <sub
							class="pesan1 text-danger"> *Label alamat tidak boleh
							kosong!</sub>
					</div>
					<div class="mb-3">
						<label class="form-label">Nama Penerima*</label> <input
							class="form-control form-control-lg inRecip" type="text">
						<sub class="pesan2 text-danger"> *Nama penerima tidak boleh
							kosong!</sub>
					</div>
					<div class="mb-3">
						<label class="form-label">Nomor HP Penerima*</label> <input
							class="form-control form-control-lg inNumRecip" type="text">
						<sub class="pesan3 text-danger"> *Nomor hp penerima tidak
							boleh kosong!</sub> <sub class="pesan6 text-danger"> *Masukan
							hanya nomor!</sub>
					</div>
					<div class="col-4">
                        <label class="form-label">Kecamatan/Kota*</label> <select
                            class="form-select inlocationid"
                            aria-label="Default select example" style="width: 200px">
                       		<option value="">Kecamatan/Kota</option>
                        </select>
                        <sub class="pesan4 text-danger">*kecamatan/kota harus di isi!</sub>
                    </div>
					<div class="mb-3">
						<label class="form-label">Kode Pos</label> <input
							class="form-control form-control-lg inKodePos" type="text">
					</div>
					<div class="mb-3">
						<label class="form-label">Alamat*</label>
						<textarea rows="" cols="" class="form-control inAlamat"
							placeholder="Form isian"></textarea>
						<sub class="pesan5 text-danger"> *Alamat tidak boleh kosong!</sub>
					</div>
					<div class="text-center mt-3">
						<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
						<button type="submit" class=" btn btn-primary btnsimpan ">Simpan</button>
						<!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/profil/tambahalamat.js"></script>