
<div class="container mt-3">
<table class="table table-sm align-middle">
		<tr>
			<td>Id : </td>
			<td> <input type="text" id="iId" readonly="readonly" disabled="disabled"> </td>
		</tr>

		<tr>
			<td>Name : </td>
			<td> <input type="text" id="iName"> </td>
		</tr>
		<tr>
			<td>kode : </td>
			<td> <input type="text" id="iKode"> </td>
		</tr>
	
		<tr>
			<td> <input id="simpan1" type="button" class="btn btn-success" value="Save">
			<input id="tkembali" type="button" class="btn btn-primary" value="Kembali" > </td>
		</tr>
		
		
	</table>


</div>      


<script type="text/javascript" src="/bank/edit.js"></script>
