
	<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Ubah Alamat</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<div class="mb-3">
						<label class="form-label">Label Alamat*</label> <input
							class="form-control form-control-lg inLabel" type="text"
							placeholder="Contoh : Rumah, Kantor">
					</div>
					<div class="mb-3">
						<label class="form-label">Nama Penerima*</label> <input
							class="form-control form-control-lg inRecip" type="text">
					</div>
					<div class="mb-3">
						<label class="form-label">Nomor HP Penerima*</label> <input
							class="form-control form-control-lg inNumRecip" type="text">
					</div>
					<div class="mb-3">
						<label class="form-label">Kecamatan/Kota*</label> <input
							class="form-control form-control-lg sKota" type="text"
							placeholder="Cari Kecamatan/ Kota">
					</div>
					<div class="mb-3">
						<label class="form-label">Kode Pos</label> <input
							class="form-control form-control-lg inKodePos" type="text">
					</div>
					<div class="mb-3">
						<label class="form-label">Alamat*</label>
						<textarea rows="" cols="" class="form-control inAlamat"
							placeholder="Form isian"></textarea>
					</div>
					<div class="text-center mt-3">
						<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
						<button type="button" class=" btn btn-primary btnsimpan ">Simpan</button>
						<!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
					</div>
				</form>
			</div>
		</div>
	</div>
	</body>
	<script type="text/javascript" src="/profil/editalamat.js"></script>
