<div class="container ">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Update Email</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>
	<div class="align-middle mt-3">

		<div class="mb-4 row">
			<label for="init" class="col-sm-4 col-form-label">Email</label>
			<div class="col-sm-8">
				<input type="text" class="form-control iemail">
			</div>
			<!-- <div id="emailterdaftar" class="form-text p1" style="color:rgb(255, 0, 0);">*Email sudah terdaftar</div>
			<div id="emailKosong" class="form-text p1" style="color:rgb(255, 0, 0);">*Email Tidak Boleh Kosong</div>
			<div id="emailSalah" class="form-text p1" style="color:rgb(255, 0, 0);">*Email tidak sesuai</div> -->
		</div>

		<div class="mb-4 row ">
			<div class="col-sm-8 ">
				<button type="button" class=" btn btn-secondary btnKembali ">Kembali</button>
				<button type="button" class=" btn btn-primary btnSimpan">Simpan</button>
			</div>
		</div>


	</div>
</div>


</body>
<!-- <script type="text/javascript" src="jquery-3.6.3.min.js"></script> -->
<script type="text/javascript" src="/profil/editemail.js"></script>

</html>