
<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Hapus Alamat</h4>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	</div>

	<!-- Modal body -->
	<div>
		<div class="container">
			<div class="mt-4">
				<form class="form row g-3">
					<div class="col-12">
						<p>Anda yakin ingin menghapus alamat</p>
						<div class="hpslabel"></div>
						<p>Anda tidak dapat mengembalikan alamat yang sudah dihapus</p>
					</div>
					<div class="col-12 mb-3 text-center">
						<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
						<button type="button" class=" btn btn-danger btnhapus">Hapus</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/profil/hapusalamat.js"></script>