<body>
	<div class="card ">
		<div class="card-body">
			<div class="m-sm-4">
				<form>
					<table style="width: 100%">
						<tr>
							<td style="text-align: left;">
								<h5 class="text-primary">Data Pribadi</h5>
							</td>
							<td style="text-align: right">
								<button type="button" class="btn btn-warning btn-sm btnUbah">Ubah</button>
							</td>
						</tr>
					</table>
					<div class="mb-3">
						<label class="form-label">Nama Lengkap</label> <input
							class="form-control form-control-lg namaLengkap" type="text"
							disabled="disabled">
					</div>
					<div class="mb-3">
						<label class="form-label">Tanggal Lahir</label> <input
							class="form-control form-control-lg tanggalLahir" type="text"
							disabled="disabled">
					</div>
					<div class="mb-3">
						<label class="form-label">Nomor Handphone</label> <input
							class="form-control form-control-lg noHP" type="text"
							disabled="disabled">
					</div>

					<h5 class="text-primary">Data Akun</h5>
					<div class="mb-3">
						<table style="width: 100%">
							<tr>
								<td style="text-align: left;"><label class="form-label">Email</label>
								</td>
								<td style="text-align: right">
									<button type="button"
										class="btn btn-warning btn-sm btnUbahEmail">Ubah</button>
								</td>
							</tr>
						</table>
						<input class="form-control form-control-lg email" type="text"
							disabled="disabled">
					</div>
					<div class="mb-3">
						<table style="width: 100%">
							<tr>
								<td style="text-align: left;"><label class="form-label">Password</label>
								</td>
								<td style="text-align: right">
									<button type="button"
										class="btn btn-warning btn-sm btnUbahPass">Ubah</button>
								</td>
							</tr>
						</table>
						<input class="form-control form-control-lg password"
							type="password" disabled="disabled">
					</div>
				</form>
			</div>
		</div>

		<!-- The Modal -->
		<div class="modal" id="ModalProfil">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">


					<!-- Modal body -->
					<div class="isiModalProfil container"></div>



				</div>
			</div>
		</div>
</body>
<script type="text/javascript" src="profil/tabprofil.js"></script>