<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Delete Specialization</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<!-- Modal body -->
<div class="isiModalSpecialization">

	<div class="container">

		<div class="mt-4">
			<form class="form row g-3">
				<div class="col-12">
					<p id="inNama"></p>
				</div>
				<div class="col-12 mb-3">
					<button class="btn btn-outline-danger" id="btnBatal">Batal</button>
					<button class="btn btn-danger" type="submit" id="btnHapus">Hapus</button>
				</div>
			</form>
		</div>

	</div>
</div>
<script type="text/javascript" src="/specialization/delete.js"></script>
