<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Tambah Pasien</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<!-- Modal body -->
<div class="isiModalCustomer">

	<div class="container">

		<div class="row g-3">
			<div class="col-12">
				<label for="inNamaLengkap" class="form-label">Nama Lengkap*</label> <input
					type="text" id="iNama" class="form-control namaLengkap"> <sub
					class="pesan text-danger"> *Nama lengkap harus diisi!</sub>
			</div>
			<div class="col-12">
				<label for="inTanggalLahir" class="form-label">Tanggal Lahir*</label> <input
					type="text" id="iDob" class="form-control tanggalLahir"> <sub
					class="pesan text-danger"> *Tanggal lahir harus diisi!</sub>
			</div>
			<div class="col-4">
				<label for="" class="form-label">Jenis Kelamin*</label>
				<p><sub class="pesan text-danger"> *Jenis kelamin harus diisi!</sub></p>
			</div>
			<div class="form-check form-check-inline col-3">
				<input class="form-check-input iGender" type="radio" id="inlineRadio1" name="jk" value="L">
				<label class="form-check-label"	for="inlineRadio1">Pria</label>
			</div>
			<div class="form-check form-check-inline col-3">
				<input class="form-check-input iGender" type="radio" id="inlineRadio2" name="jk" value="W">
				<label class="form-check-label"	for="inlineRadio2">Wanita</label>
			</div>
			<div class="col-4">
				<label for="inRhesus" class="form-label">Golongan Darah/Rhesus</label>
				<select class="form-select iGol" aria-label="Default select example" id="optGolDarah">
					
				</select>
			</div>
			<div class="form-check form-check-inline col-3">
				<input class="form-check-input iRh" type="radio" id="inlineRadio3" name="rh" value="+">
				<label class="form-check-label"	for="inlineRadio3">Rh+</label>
			</div>
			<div class="form-check form-check-inline col-3">
				<input class="form-check-input iRh" type="radio" id="inlineRadio4" name="rh" value="-">
				<label class="form-check-label"	for="inlineRadio4">Rh-</label>
			</div>
			<div class="col-5">
				<label for="iTB" class="form-label">Tinggi Badan</label>
				<input type="text" id="iTB" class="form-control">cm
			</div>
			<div class="col-5">
				<label for="iBB" class="form-label">Berat Badan</label>
				<input type="text" id="iBB" class="form-control">kg
			</div>
			<div class="col-12">
				<label for="inRhesus" class="form-label">Relasi*</label>
				<select class="form-select iRel" aria-label="Default select example">
				
				</select>
				<sub class="pesan text-danger"> *Relasi harus diisi!</sub>
			</div>
			<div class="col-12 mb-3">
				<button class="btn btn-outline-danger" id="btnBatal">Batal</button>
				<button class="btn btn-primary" type="submit" id="btnSimpan">Simpan</button>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript" src="/customer/add.js"></script>
