
 <div class="modal-header">
        <h5 class="modal-title">Add Bank</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
 </div>
 
<div class="container mt-3">
<table class="table table-sm align-middle">
		
		<tr>
			<td>Name(*) : </td>
			<td> <input type="text" id="iName"> </td>
		</tr>
		<tr>
			<td>Kode (*): </td>
			<td> <input type="text" id="iKode"> </td>
		</tr>
		<tr>
				<td> <input id="simpan" type="button" class="btn btn-primary" value="Simpan"> 
				 <input id="tkembali" type="button" class="btn btn-danger" value="Kembali"></td>
		</tr>
		
</table>

</div>


<script type="text/javascript" src="/bank/add.js"></script>
