<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Edit Golongan Darah</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<!-- Modal body -->
<div class="isiModalGolonganDarah">

	<div class="container">

		<form class="form row g-3">
			<div class="col-12">
				<label for="inKode" class="form-label">Kode*</label>
				<input type="text" id="inKode" class="form-control kode">
				<sub class="pesan text-danger"> *Kode tidak boleh kosong!</sub>
			</div>
			<div class="col-12">
				<label for="inDeskripsi" class="form-label">Deskripsi</label>
				<input type="text" id="inDeskripsi" class="form-control deskripsi">
			</div>
			<div class="col-12 mb-3">
				<button class="btn btn-outline-danger" id="btnBatal">Batal</button>
				<button class="btn btn-primary" type="submit" id="btnSimpan">Simpan</button>
			</div>
		</form>

	</div>
</div>
<script type="text/javascript" src="/golongandarah/edit.js"></script>