
<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Atur Akses</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<div>
					<table style="width: 100%">
						<thead>
							<tr>
								<td style="width: 50%">
									<input type='checkbox' class='aksesmenu'name="selectall">Select All
								</td>
								<td>
									<input type="button" class="batal btn btn-warning btn-sm" value="Batal">
								</td>
								<td>
									<input type="button" class="simpan btn btn-primary btn-sm" value="Simpan">
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type='checkbox' class='aksesmenu'name="master">Master
								</td>
							</tr>
							<tr>
								<td style="padding-left: 10%;">
									<input type='checkbox' class='aksesmenu'name="master">Kurir
								</td>
							</tr>
							<tr>
								<td style="padding-left: 10%;">
									<input type='checkbox' class='aksesmenu'name="master">Spesialisasi
								</td>
							</tr>
							<tr>
								<td>
									<input type='checkbox' class='aksesmenu'name="transaksi">Transaksi
								</td>
							</tr>
							<tr>
								<td style="padding-left: 10%;">
									<input type='checkbox' class='aksesmenu'name="transaksi">Buat Janji
								</td>
							</tr>
							<tr>
								<td>
									<input type='checkbox' class='aksesmenu'>Atur Tindakan Dokter
								</td>
							</tr>
							<tr>
								<td>
									<input type='checkbox' class='aksesmenu'>Atur Harga Tindakan
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/profil/modalaturakses.js"></script>