
	<body>
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title">Tambah Tindakan</h4>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="m-sm-4">
				<div>
					<div class="mb-3">
						<label class="form-label">Tindakan*</label> 
						<input class="form-control form-control-lg inTindakan" type="text" placeholder="Masukan Tindakan">
						<sub class="pesan text-danger"> *Tindakan tidak boleh kosong!</sub>
						<sub class="pesan1 text-danger"> *Tindakan sudah ada!</sub>
					</div>
					<div class="text-center mt-3">
						<button type="button" class=" btn btn-secondary btnbatal ">Batal</button>
						<button type="submit" class=" btn btn-primary btnsimpan ">Simpan</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
	<script type="text/javascript" src="/dokter/tambahtindakan.js"></script>