@charset "ISO-8859-1";
.cursor-pointer {
	cursor: pointer;
}
.p1 {
  font-family: "Calibri";
}

.p2 {
  font-family: "Calibri";
  text-decoration: underline;
}

.p3 {
  font-family: "Calibri";
  border: none;
}

.p4 {
  font-family: "Calibri";
  vertical-align: top;
  height: 50px;
}

.p5 {
    cursor:context-menu;
}


.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}


.btn-close {
	width:            3em;
	height: 		width;
	color: #0000ff;
}

.countdown {
    text-transform: uppercase;
    font-weight: bold;
}