				  <div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p1 p5">Verifikasi E-mail</h1>
			        <button type="button" id="btnx" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      <div class="container px-4">
			      	  <div class="mb-3">
					    <label class="p1 text-muted">Masukkan kode OTP yang telah dikirimkan ke email anda</label>
					  </div>
			      	  <div class="">
					    <input type="text" class="form-control text-center p1" id="iotp">
					    </div>
					   <div class="input-group">
					    <label id="otpemptyHelp" class="form-text p1" style="color:Tomato;">*Masukkan kode OTP</label>
					    <label id="otpHelp" class="form-text p1" style="color:Tomato;">*Koda OTP salah</label>
					    <label id="otpspoilHelp" class="form-text p1" style="color:Tomato;">*Koda OTP kadaluarsa, silahkan kirim ulang OTP</label>
					    
					  </div>
					  <div class="input-group">
					  <a class="link-primary p2 p5" id="returntoemailver">Gunakan email lain</a>
					  </div>
					  <div class="mb-3 text-center">
					    <p></p>
					    <label class="p1 text-muted" id="count"></label>
					    <button type="button" class="btn btn-outline-secondary" id="btnresendotp">Kirim ulang OTP</button>
					  </div>
			      </div>
			      </div>
			      <div class="modal-footer justify-content-center">
			        <button type="button" class="btn btn-primary" id="btnacceptotp">Konfirmasi OTP</button>
			      </div>
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/register/otp.js"></script>