<div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p5" id="staticBackdropLabel">Atur Password</h1>
			        <button type="button" id="btnx" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      
			      <div class="container px-4">
			      	  <div class="mb-3">
					    <label class="p1 text-muted">Masukkan pasword baru untuk akun anda</label>
					  </div>
			      	  <div class="form-group">
			      	    <label class="p1 text-muted">Password</label>
			      	  </div>
			      	  <div class="col-12">
            			<div class="input-group mb-3">
              				<input type="password" class="form-control p1" id="ipswd">
              					<div class="input-group-append">
                					<span class="input-group-text">
                  					<i class="bi bi-eye-fill" id="show_eye"></i>
                  					<i class="bi bi-eye-slash-fill" id="hide_eye"></i>
                				</span>
              				</div>
              				<div class="input-group">
              					<label id="pswHelp" class="form-text p1" style="color:Tomato;">*Password harus minimal 8 karakter, mengandung huruf besar, huruf kecil, angka dan simbol</label>
					    		<label id="pswemptyHelp" class="form-text p1" style="color:Tomato;">*Password tidak boleh kosong </label>
              				</div>
              				</div>
          			   </div>
					   
					  <div class="form-group">
			      	    <label class="p1 text-muted">Masukkan ulang password</label>
			      	  </div>
					    <div class="col-12">
            			<div class="input-group mb-3">
              				<input type="password" class="form-control p1" id="irepswd">
              					<div class="input-group-append">
                					<span class="input-group-text">
                  					<i class="bi bi-eye-fill" id="show_eyere"></i>
                  					<i class="bi bi-eye-slash-fill" id="hide_eyere"></i>
                					</span>
              					</div>
              					<div class="input-group">
              						<label id="pswreHelp" class="form-text p1" style="color:Tomato;">*Password tidak sama</label>
					    			<label id="pswreemptyHelp" class="form-text p1" style="color:Tomato;">*Masukkan ulang password</label>	
              					</div>
            			</div>
          			   </div>
					</div>
					
			      </div>
			      <div class="modal-footer justify-content-center">
			        <button type="button" class="btn btn-primary" id="btnacceptpsw">Set Password</button>
			      </div>
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/register/password.js"></script>