				  <div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p1 p5">Daftar</h1>
			        <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      <div class="container px-4">
			      	  <div class="mb-3">
					    <label class="p1 text-muted">Masukkan email Anda. Kami akan melakukan pengecekkan</label>
					  </div>
			      	 <div class="">
					    <label for="iemail" class="p1 text-muted">Email*</label>
					    <input type="email" class="form-control p1" id="iemail">
					    </div>
					    <div class="input-group">
					    <label id="emailHelp" class="form-text p1" style="color:Tomato;">*Email telah terdaftar</label>
					    <label id="emailemptyHelp" class="form-text p1" style="color:Tomato;">*Masukkan email anda</label>
					     <label id="emailwrongHelp" class="form-text p1" style="color:Tomato;">*Email tidak sesuai</label>
					  </div>
			      </div>
			      </div>
			      <div class="modal-footer justify-content-center">
			        <button type="button" class="btn btn-primary p1" id="btnotp">Kirim OTP</button>
			      </div>
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/register/register.js"></script>
