				  <div class="modal-header">
			        <h1 class="modal-title fs-3 text-primary p1 p5">Sukses</h1>
			        <button type="button" id="btnx" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      <div class="container px-4">
			      	  <div class="mb-3 text-center">
					    <label class="p1 text-muted">Pendaftaran Berhasil.</label>
					  </div>
					  <div class="mb-3 text-center">
					    <label class="p1 text-muted" id="countsuccess">Silahkan login dengan email anda dalam 05</label>
					  </div>
			      </div>
			      </div>
			       <div class="modal-footer justify-content-center">
			        <label class="p1 text-muted"> </label>
			      </div>
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/register/success.js"></script>