
<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Pilih Spesialisasi</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<!-- Modal body -->

<div class="container">

	<form class="form row g-3">
		<div class="col-12">
			<label for="inSpesialisasi" class="form-label">Spesialisasi*</label>
			<!-- <input type="text" id="iSpesialis" class="form-control name"> -->
			<select id="iSpesialis" class="form-control name">
			</select> <sub class="pesan text-danger"> *Spesialisasi tidak boleh
				kosong!</sub>
		</div>
		<div class="col-12 mb-3">
			<button class="btn btn-outline-danger" id="btnBatal">Batal</button>
			<button class="btn btn-primary" type="submit" id="btnSimpan">Simpan</button>
		</div>
	</form>

</div>

<script type="text/javascript" src="/dokter/add.js"></script>
