<body>
	<div class="card" style="height: 400px">
		<div class="card-body">
			<div class="m-sm-4">
				<table style="width: 100%; height: 100%">
					<tr style="height: 60%; vertical-align: text-top;font-size: large;">
						<td>
							<div class="isiTindakan" style="line-height: normal;"></div>
						</td>
					</tr>
					<tr>
						<td style="text-align: right;">
							<button type="button"
								class="tambah btn btn-primary btn-lg btn-floating">+</button>
						</td>
					</tr>
				</table>
				<div class="modal" id="ModalTindakan">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">

							<!-- Modal body -->
							<div class="isiModalTindakan"></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="dokter/tabtindakan.js"></script>