<div class="modal-header">
			      	<h1 class="modal-title fs-3 text-primary p1 p5">Mendaftar</h1>
			        <button type="button" id="btnx" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      
			      <div class="container px-4">
			      	  <div class="mb-3">
			      	  <label class="p1 text-muted">Nama lengkap*</label>
					    <input type="text" class="form-control p1" id="iname">
					    <label id="alertNl" class="form-text p1" style="color:Tomato;">*Masukkan nama</label>
					  </div>
					  <div class="mb-3">
					  <label class="p1 text-muted">Nomor handphone</label>
					    <input type="text" class="form-control p1" id="iphone">
					    <label id="alertNh" class="form-text p1" style="color:Tomato;">Nomor handphone tidak bear</label>
					  </div>
					  
					  <div class="mb-3">
					  <label class="p1 text-muted">Daftar sebagai*</label>
					    <select id="irole" class="p1 text-muted form-select"></select>
					    <label id="alertRl" class="form-text p1" style="color:Tomato;">*Pilih Role</label>
					    <label id="alertRllocked" class="form-text p1" style="color:Tomato;">*Opsi ini belum tersedia</label>
					  </div>
			      </div>
			      
			      </div>
			      <div class="modal-footer justify-content-center">
			        <button type="button" class="btn btn-primary" id="btndaftar">Daftar</button>
			      </div>
<!-- <script type="text/javascript" src="/jquery-3.6.3.min.js"></script>  -->
<script type="text/javascript" src="/register/akun.js"></script>