<!-- Modal Header -->
<div class="modal-header">
	<h4 class="modal-title">Hapus Pasien</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<!-- Modal body -->
<div class="isiModalCustomer">

	<div class="container">

		<div class="mt-4">
			<div class="form row g-3">
				<div class="col-12">
					<p>Anda yakin ingin menghapus pasien</p>
					<p class="iPasien"></p>
					<p>Riwayat medis pasien akan tetap tersimpan, namun anda tidak dapat lagi membuat janji dokter/chat online untuk pasien ini</p>
				</div>
				<div class="col-12 mb-3">
					<button class="btn btn-outline-danger" id="btnBatal">Batal</button>
					<button class="btn btn-danger btnHapus" type="submit">Hapus</button>
				</div>
			</div>
		</div>

	</div>

</div>

<script type="text/javascript" src="/customer/delete.js"></script>